{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ doctor.name }}'s Profile</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Healthmate APP</h1>
        </div>
        <nav>
            <ul class="menu">
                <li>
                    <a href="{% url 'doctor_dashboard' %}">Doctor Home</a>
                </li>
                <li style="background-color: #ffe53b;background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%); color:white; border-radius:5px;padding:0.5rem 1rem;">
                    <a href="{% url 'doctor_profile' %}">Doctor Profile</a>
                </li>
                <li>
                    <a href="{% url 'doctor_login' %}" >Logout</a>
                </li>
            </ul>
        </nav>
    </div>
    
    <section>
        <h1>{{ doctor.name }}'s Profile</h1>
        <div class="profile-details">
            <p><strong>Name:</strong> {{ doctor.name }}</p>
            <p><strong>Specialty:</strong> {{ doctor.specialty }}</p>
            <p><strong>Location:</strong> {{ doctor.location }}</p>
            <p><strong>Phone Number:</strong> {{ doctor.phone_number }}</p>
            <p><strong>Email:</strong> {{ doctor.email }}</p>
            <p><strong>ZIP:</strong> {{ doctor.pin_number }}</p>
        </div>
    </section>

</body>
</html>
